[Unit]
Description=Launch vegetable timer

[Service]
NoNewPrivileges=yes
RestrictNamespaces=yes
User=theo
Type=simple
ExecStart=/usr/bin/python3 /path/to/timer_server.py --request 5

[Install]
WantedBy=multi-user.target
